body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.page {
  margin: 20px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
}

.add-to-favorites-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.favorites img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
}
